{% extends 'base.html' %}
{% load static %}


{% block titile %}
The Post  
{% endblock titile %}

{% block css_files %}
<!-- <link rel="stylesheet" href="{% static 'blog/post.css' %}"/> -->
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
<!-- <link rel="stylesheet" href="{% static 'blog/all-post.css' %}" /> -->
{% comment %} <link rel="stylesheet" href="{% static 'blog/index.css' %}"/> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'app.css' %}" />{% endcomment %}

{% endblock  %}
{% block content %}

{% if comment_form.errors %}
    <div id="alert">
        <h2>Submitting comment was failed!</h2>
        <h3>Fix the error and try again.</h3>
        <a href="#comment-form">Fix it!</a>
    </div>
{% endif %}


<section id="summary"> 
<article>
    <img src="{{post.image.url}}" alt="{{post.titile}}">
    <address>By<a href="mailto:{{post.author.email}}"> {{post.author.first_name}} {{post.author.last_name}}</a></address>
    <div>last upated on <time>{{post.date|date:"d-M-Y"}}</time></div>
</article>     
<h2>{{post.title|title}}</h2>
<div>
    {% comment %} {% for tag in post.tag.all %} {% endcomment %}
    {% for tag in post_tags %}
    <span class="tag">{{tag.captions}}</span> 
    {% endfor %}
</div>
</section>    
<main>
<p>{{post.content |linebreaks |add:'<br><hr>'}}</p> 
</main>

<section id= "comment-form" >
    <h2>Your Comment:</h2>
    <form  action="{% url 'post_detail_page' post.slug %}" method="POST">
        {% csrf_token %}
            {% for form_field in comment_form %}
            <div class="form-control {% if form_field.errors %}invalid{% endif %}">
            {{form_field.label_tag}}
            {{form_field}}
            {{form_field.errors}}
            </div>
            {% endfor %}
        <button>Send comment</button>
    </form>
</section>
{% endblock  %}